html, body, .container {
    height: 100%
}

body {
    padding-top: 120px;
    padding-bottom: 110px;
}

footer {
    height: 110px;
    margin-bottom: 0;
    margin-top:90px;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    color:Gray;
    background-color: white
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
  padding: 0 0 60px;
}

/* Centers the navbar.
    See http://stackoverflow.com/questions/18777235/
      center-content-in-responsive-bootstrap-navbar
*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/* Style the navbar to invisible-ish. */
.navbar-default {
  background-color: white;
  border-color: transparent;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Black nav links */
a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: black;
   text-decoration: none;
}
a.nav-link:hover
{
   color: black;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}

/* Gray nav links */
a.nav-link-gray:link
{
   color: Gray;
   text-decoration: none;
}
a.nav-link-gray:visited
{
   color: Gray;
   text-decoration: none;
}
a.nav-link-gray:hover
{
   color: Gray;
   text-decoration: none;
}
a.nav-link-gray:active
{
   color: Gray;
   text-decoration: none;
}

/* Remove dropdown styling. */
.dropdown-menu {
    width: 250px !important;
    border-color: transparent;
    box-shadow: none;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    padding-bottom: 3px;
}

/* misc */
.notebook-title {
    font-weight: bold;
    font-size: 165%;
}

.bottom-pad {
    margin-bottom: 0.75cm
}

.bottom-pad-small {
    margin-bottom: 0.5cm
}

.top-pad {
    margin-top: 0.5cm
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer-only {
    cursor:pointer
}

/* code panels */
.panel-heading div:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: grey;
}
.panel-heading div.collapsed:after {
    content:"\e080";
}