<nav class="navbar navbar-default navbar-fixed-top nav-justified">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-id">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div> <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="navbar-collapse-id">
            <ul class="nav navbar-nav">
                <li><h3><a href="/">Timothy Renner</a></h3></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><h3><a href="{{ site.url }}/posts/">Posts</a><h3></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><h3><a href="{{ site.url }}/notebooks/">Notebooks</a></h3></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><h3><a href="{{ site.url }}/profanitypowerindex/">Profanity Power Index</a></h3></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><h3><a href="http://github.com/timothyrenner">Github</a></h3></li>    
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><h3><a href="/about/">About</a></h3></li>
            </ul>
            <br>
        </div> <!-- Close class for navbar collapse. -->
    </div> <!-- Close class for container-fluid. -->
</nav>