<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <!-- Syntax highlighting CSS -->
    <link href="{{ site.url }}/css/syntax.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet"/>    
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom style -->
    <link href="{{ site.url }}/css/style.css" rel="stylesheet"/>
    <meta charset="utf-8">
</head>
<body class="fill">
    {% include navbar.html %}
    
    <div id="wrap">
    {{ content }}
    </div>
    
    {% include footer.html %}
    <!-- JQuery -->
    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap Javascript -->
    <script type="text/javascript"
        src="{{ site.url }}/js/bootstrap.min.js"></script>
    <!-- Mathjax Javascript -->
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>    
</body>
